[submodule "src/buildtools"]
	path = src/buildtools
	url = git://git.wincent.com/buildtools.git
[submodule "fusion"]
	path = fusion
	url = git://git.wincent.com/fusion.git
[submodule "fusion-base"]
	path = fusion-base
	url = git://git.wincent.com/fusion-base.git
